# PROJET DATA – DU PYTHON

#### Plan du Projet DATA :

_____________________________________________________________

1. Traitement de données : compréhension des données, analyse de la 
complétude et de la conformité des données, contrôles de cohérence
(univarié/multivarié), gestion des anomalies : mise en place de correctif, 
exclusions, etc.
2. Jointures éventuelles de bases et contrôles 
3. Analyses descriptives des données : univariée, multivariée, ASD
4. Analyse graphique (data visualisation) + Interfaçage via Shiny for Python 
5. Modélisation : supervisée (régression, classification) vs non supervisée ; 
paramétrique (économétriques) vs non paramétriques (machine learning)
6. Analyse des résultats : interprétation, explications 
7. Application : prévision, tarification, etc.



- Understanding the Problem Statement
- Data Collection
- Data Checks to perform
- Exploratory data analysis
- Data Pre-Processing
- Model Training
- Choose best model

## 1) Data Preprocessing
### 2.1 Problem statement
- Our project revolves around harnessing the potential of recently acquired insurance databases. The objective is to extract meaningful insights and actionable information to enhance our understanding of the insurance landscape.
- Given the constraints and in line with industry standards, we have chosen Python as our primary tool for data analysis. Python's versatility and extensive libraries, such as Pandas, NumPy, and Scikit-learn, will be crucial in efficiently handling, processing, and analyzing the vast amounts of insurance data at our disposal.


### 2) Data Collection
- Dataset Source - https://www.kaggle.com/datasets/spscientist/students-performance-in-exams?datasetId=74977
- The data consists of 8 column and 1000 rows.

### 2.1 Import Data and Required Packages
####  Importing Pandas, Numpy, Matplotlib, Seaborn and Warings Library.

In [15]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')

#### Import the CSV Data as Pandas DataFrame

In [16]:
# Read DB_SIN.txt
sin_df = pd.read_csv('data/DB_SIN.txt', delimiter='\t')  # Assuming it's a tab-separated file

# Read DB_CNT.xlsx from the sheet named 'DB_CNT'
cnt_df = pd.read_excel('data/DB_CNT.xlsx', sheet_name='DB_CNT')

# Read DB_Telematics.csv
telematics_df = pd.read_csv('data/DB_Telematics.csv', delimiter=';')

In [17]:
sin_df.head()

   Id_pol NB_Claim    AMT_Claim
0  212433        1  1137,079102
1  124370        1  3170,102051
2  208357        1  3753,909668
3  141403        1  16,03637695
4  173366        1  41774,71289

In [18]:
print("DB_SIN.txt DataFrame:")
print(sin_df.info())

DB_SIN.txt DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id_pol     4337 non-null   int64
 1   NB_Claim   4337 non-null   object
 2   AMT_Claim  4337 non-null   object
dtypes: int64(1), object(2)
memory usage: 101.8+ KB
None

In [19]:
numeric_summary = sin_df['NB_Claim'].describe()
numeric_summary
unique_values = sin_df['NB_Claim'].unique()

# Display the unique values
print("Unique values in 'NB_Claim':")
print(unique_values)

Unique values in 'NB_Claim':
['1' '2' 'NB_CLAIM:1' 'NB_CLAIM:2' '3']

In [20]:
# Replace specific values in 'NB_Claim'
sin_df['NB_Claim'] = sin_df['NB_Claim'].replace({'NB_CLAIM:1': '1', 'NB_CLAIM:2': '2'})

unique_values = sin_df['NB_Claim'].unique()
print("Unique values in 'NB_Claim':")
print(unique_values)

Unique values in 'NB_Claim':
['1' '2' '3']

In [21]:
# Display descriptive statistics for numeric columns
numeric_summary = sin_df.describe()

# Display summary for object columns
object_summary = sin_df.describe(include='object')

# Display the results
print("Numeric Summary:")
print(numeric_summary)

print("\nObject Summary:")
print(object_summary)

Numeric Summary:
              Id_pol
count    4337.000000
mean   170183.869264
std     29131.411617
min    100210.000000
25%    145343.000000
50%    170597.000000
75%    195469.000000
max    221064.000000

Object Summary:
       NB_Claim AMT_Claim
count      4337      4337
unique        3      3851
top           1         0
freq       4154       436

In [22]:
# Display unique values and their counts in 'AMT_Claim'
unique_values_counts = sin_df['AMT_Claim'].value_counts(dropna=False)

# Display the results
print("Unique values and their counts in 'AMT_Claim':")
print(unique_values_counts)

Unique values and their counts in 'AMT_Claim':
AMT_Claim
0              436
ANN             37
279,9525146      9
477,3110047      7
1710,054932      2
              ...
9324,375         1
1164,303863      1
1625,644409      1
4381,549073      1
6034,40625       1
Name: count, Length: 3851, dtype: int64

In [23]:
sin_df.head()

   Id_pol NB_Claim    AMT_Claim
0  212433        1  1137,079102
1  124370        1  3170,102051
2  208357        1  3753,909668
3  141403        1  16,03637695
4  173366        1  41774,71289

In [24]:
# Convert 'AMT_Claim' to numeric (replace 'ANN' with 0)
sin_df['AMT_Claim'] = sin_df['AMT_Claim'].replace({'ANN': '0'})

# Extract the part before the comma and convert to numeric
sin_df['AMT_Claim'] = sin_df['AMT_Claim'].astype(str).str.split(',').str[0]
sin_df['AMT_Claim'] = pd.to_numeric(sin_df['AMT_Claim'], errors='coerce')

In [25]:
# Display unique values and their counts in 'AMT_Claim'
unique_values_counts = sin_df['AMT_Claim'].value_counts(dropna=False)

# Display the results
print("Unique values and their counts in 'AMT_Claim':")
print(unique_values_counts)

Unique values and their counts in 'AMT_Claim':
AMT_Claim
0       474
279      12
477      10
293       6
299       5
       ...
703       1
202       1
4163      1
2438      1
6034      1
Name: count, Length: 2887, dtype: int64

In [26]:
# Convert 'NB_Claim' to numeric (replace ',' with '.' if needed)
sin_df['NB_Claim'] = pd.to_numeric(sin_df['NB_Claim'].str.replace(',', '.'), errors='coerce')

In [27]:
print("DB_SIN.txt DataFrame:")
print(sin_df.info())

DB_SIN.txt DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4337 entries, 0 to 4336
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Id_pol     4337 non-null   int64
 1   NB_Claim   4337 non-null   int64
 2   AMT_Claim  4337 non-null   int64
dtypes: int64(3)
memory usage: 101.8 KB
None

In [28]:
print("\nDB_CNT.xlsx DataFrame:")
print(cnt_df.info())

DB_CNT.xlsx DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100399 entries, 0 to 100398
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id_pol              100399 non-null  int64
 1   Duration            100399 non-null  int64
 2   Insured.age         100399 non-null  int64
 3   Insured.sex         100399 non-null  object
 4   Car.age             100399 non-null  int64
 5   Marital             100307 non-null  object
 6   Car.use             100399 non-null  object
 7   Credit.score        100399 non-null  float64
 8   Region              100271 non-null  object
 9   Annual.miles.drive  100399 non-null  float64
 10  Years.noclaims      100399 non-null  object
 11  Territory           100399 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 9.2+ MB
None

Duration : Duration of the insurance coverage of a given policy, in days  
Insured.age : Age of insured driver, in years  
Insured.sex : Sex of insured driver (Male/Female)  
Car.age : Age of vehicle, in years  
Marital : Marital status (Single/Married)  
Car.use : Use of vehicle: Private, Commute, Farmer, Commercial  
Credit.score : Credit score of insured driver  
Region  : Type of region where driver lives: rural, urban  
Annual.miles.drive : Annual miles expected to be driven declared by driver  
Years.noclaims : Number of years without any claims  
Territory : Territorial location of vehicle

Conditions to meet :   
• Duration is the period that policyholder is insured in days, with values in [22,366].  
• Insured.age is the age of insured driver in integral years, with values in [16,103].  
• Car.age is the age of vehicle, with values in [-2,20]. Negative values are rare but are possible as buying a newer model can be up to two years in advance.  
• Years.noclaims is the number of years without any claims, with values in [0, 79] and
always less than Insured.age.  
• Territory is the territorial location code of vehicle, which has 55 labels in {11,12,13,· · · ,91}.

In [41]:
# Filter object variables
object_columns = cnt_df.select_dtypes(include='object').columns

# Display unique values for each object variable
for column in object_columns:
    unique_values = cnt_df[column].unique()
    print(f"Unique values in '{column}':")
    print(unique_values)
    print()

Unique values in 'Insured.sex':
['Female' 'F' 'Male' 'H' 'Unknown']

Unique values in 'Marital':
['Single' 'Married' 'Celib' 'Marié' nan]

Unique values in 'Car.use':
['Private' 'Commute' 25 'Commercial' 'Farmer' ' ' 14 47 100 54 21 80 95 8
 10 74 94 26 17 34 29 96 78 11 1 6 19 69 85 52 42 88 72 99 24 84 15 71 53
 40 64 9 59 55 46 82 66 0 32 39 36 23 51 '  ' '??' 92 57 22 65 87 63 35 16
 62 50 90 70 3 12 5 68 75 4 18 76 2 89 83 7 73 77 27 91 61 20 '???' 33 93
 13 38 45 81 '?' 86 48 49 60 97 58 43 67 '     ' 44 37 '????' 41 28 'Inc'
 30 'Ukwn' 31]

Unique values in 'Region':
['Urban' 'Rural' nan]

Unique values in 'Years.noclaims':
[40 4 41 37 8 6 57 23 28 54 3 10 21 30 66 43 13 31 17 32 26 34 25 27 45 33
 24 11 51 39 22 15 46 19 20 5 44 42 36 29 59 62 55 58 12 1 9 50 47 2 48
 'EAJ' 35 18 49 7 56 14 38 52 63 67 16 53 65 0 61 64 60 68 69 72 70 74 73
 76 75 71 77 78 79 85 82 80]

Insured.Sec => Male, Female  
Marital : Single, Maried  
Car use : ?  
Region : Urban, Rural  
Year.noclaims : EAJ > 0

In [47]:
# Count occurrences of unique values in 'Insured.sex'
sex_counts = cnt_df['Insured.sex'].value_counts()

# Display the result
print("Count of unique values in 'Insured.sex':")
print(sex_counts)
print()

# Count occurrences of unique values in 'Marital'
marital_counts = cnt_df['Marital'].value_counts()

# Display the result
print("Count of unique values in 'Marital':")
print(marital_counts)

Count of unique values in 'Insured.sex':
Insured.sex
Male      54210
Female    46189
Name: count, dtype: int64

Count of unique values in 'Marital':
Marital
Married    70133
Single     30174
Name: count, dtype: int64

In [44]:
# Map values in 'Insured.sex'
sex_mapping = {'Male': ['Male', 'H', 'Unknown'], 'Female': ['Female', 'F']}

# Replace values in 'Insured.sex'
for category, values in sex_mapping.items():
    cnt_df['Insured.sex'] = cnt_df['Insured.sex'].replace(values, category)

# Verify the result
sex_counts_after_mapping = cnt_df['Insured.sex'].value_counts()
print("Count of unique values in 'Insured.sex' after mapping:")
print(sex_counts_after_mapping)

Count of unique values in 'Insured.sex' after mapping:
Insured.sex
Male      54210
Female    46189
Name: count, dtype: int64

In [45]:
# Map values in 'Marital'
marital_mapping = {'Single': ['Single', 'Celib'], 'Married': ['Married', 'Marié']}

# Replace values in 'Marital'
for category, values in marital_mapping.items():
    cnt_df['Marital'] = cnt_df['Marital'].replace(values, category)

# Verify the result
marital_counts_after_mapping = cnt_df['Marital'].value_counts()
print("Count of unique values in 'Marital' after mapping:")
print(marital_counts_after_mapping)

Count of unique values in 'Marital' after mapping:
Marital
Married    70133
Single     30174
Name: count, dtype: int64

Unique values in 'Years.noclaims':
[40 4 41 37 8 6 57 23 28 54 3 10 21 30 66 43 13 31 17 32 26 34 25 27 45 33
 24 11 51 39 22 15 46 19 20 5 44 42 36 29 59 62 55 58 12 1 9 50 47 2 48
 'EAJ' 35 18 49 7 56 14 38 52 63 67 16 53 65 0 61 64 60 68 69 72 70 74 73
 76 75 71 77 78 79 85 82 80]

In [50]:
# Display unique values and their counts in 'Years.noclaims'
unique_values_counts = cnt_df['Years.noclaims'].value_counts(dropna=False)

# Display the results
print("Unique values and their counts in 'Years.noclaims':")
print(unique_values_counts)

Unique values and their counts in 'Years.noclaims':
Years.noclaims
9     2436
8     2428
7     2254
10    2195
37    2111
      ...
78       3
85       2
79       1
82       1
80       1
Name: count, Length: 84, dtype: int64

In [51]:
# Count occurrences of 'EAJ' in 'Years.noclaims'
eaj_count = cnt_df['Years.noclaims'].eq('EAJ').sum()

# Display the result
print("Number of occurrences of 'EAJ':", eaj_count)

Number of occurrences of 'EAJ': 36

Years.noclaims must be in [0,79].  
Years.noclaims is the number of years without any claims, with values in [0, 79] and
always less than Insured.age.
We will add 'EAJ' to 1 and all the occurances from greater than 79 years will be added back to 79.

In [52]:
# Replace 'EAJ' with 1
cnt_df['Years.noclaims'] = cnt_df['Years.noclaims'].replace('EAJ', 1)

# Convert 'Years.noclaims' to numeric
cnt_df['Years.noclaims'] = pd.to_numeric(cnt_df['Years.noclaims'], errors='coerce')

# Replace values greater than 79 with 79
cnt_df['Years.noclaims'] = cnt_df['Years.noclaims'].where(cnt_df['Years.noclaims'] <= 79, 79)

# Verify the result
years_noclaims_summary = cnt_df['Years.noclaims'].describe()
print("Summary of 'Years.noclaims' after modifications:")
print(years_noclaims_summary)

Summary of 'Years.noclaims' after modifications:
count    100399.000000
mean         28.856493
std          16.153134
min           0.000000
25%          15.000000
50%          29.000000
75%          41.000000
max          79.000000
Name: Years.noclaims, dtype: float64

Years.noclaims must always be less than insured.age

In [53]:
# Perform the test
test_result = (cnt_df['Years.noclaims'] < cnt_df['Insured.age']).all()

# Display the result
if test_result:
    print("All values in 'Years.noclaims' are less than 'Insured.age'.")
else:
    print("There are values in 'Years.noclaims' greater than or equal to 'Insured.age'.")

There are values in 'Years.noclaims' greater than or equal to 'Insured.age'.

In [54]:
# Identify values in 'Years.noclaims' greater than 'Insured.age'
greater_values = cnt_df.loc[cnt_df['Years.noclaims'] >= cnt_df['Insured.age'], ['Years.noclaims', 'Insured.age']]

# Display the identified values
print("Values in 'Years.noclaims' greater than or equal to 'Insured.age':")
print(greater_values)

Values in 'Years.noclaims' greater than or equal to 'Insured.age':
       Years.noclaims  Insured.age
14                 66           66
290                63           63
298                49           49
3394               69           69
3485               51           51
...               ...          ...
94557              59           59
94567              21           21
95216              47           47
98241              47           47
99893              29           29

[127 rows x 2 columns]

In [55]:
print("\nDB_CNT.xlsx DataFrame:")
print(cnt_df.info())

DB_CNT.xlsx DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100399 entries, 0 to 100398
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id_pol              100399 non-null  int64
 1   Duration            100399 non-null  int64
 2   Insured.age         100399 non-null  int64
 3   Insured.sex         100399 non-null  object
 4   Car.age             100399 non-null  int64
 5   Marital             100307 non-null  object
 6   Car.use             100399 non-null  object
 7   Credit.score        100399 non-null  float64
 8   Region              100271 non-null  object
 9   Annual.miles.drive  100399 non-null  float64
 10  Years.noclaims      100399 non-null  int64
 11  Territory           100399 non-null  int64
dtypes: float64(2), int64(6), object(4)
memory usage: 9.2+ MB
None

In [48]:
print("\nDB_CNT.xlsx DataFrame:")
print(cnt_df.info())

DB_CNT.xlsx DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100399 entries, 0 to 100398
Data columns (total 12 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Id_pol              100399 non-null  int64
 1   Duration            100399 non-null  int64
 2   Insured.age         100399 non-null  int64
 3   Insured.sex         100399 non-null  object
 4   Car.age             100399 non-null  int64
 5   Marital             100307 non-null  object
 6   Car.use             100399 non-null  object
 7   Credit.score        100399 non-null  float64
 8   Region              100271 non-null  object
 9   Annual.miles.drive  100399 non-null  float64
 10  Years.noclaims      100399 non-null  object
 11  Territory           100399 non-null  int64
dtypes: float64(2), int64(5), object(5)
memory usage: 9.2+ MB
None

In [42]:
print("\nDB_Telematics.csv DataFrame:")
print(telematics_df.info())

DB_Telematics.csv DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100332 entries, 0 to 100331
Data columns (total 40 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Id_pol                  100332 non-null  object
 1   Annual.pct.driven       100332 non-null  object
 2   Total.miles.driven      100332 non-null  object
 3   Pct.drive.mon           100332 non-null  object
 4   Pct.drive.tue           100332 non-null  object
 5   Pct.drive.wed           100332 non-null  object
 6   Pct.drive.thr           100332 non-null  object
 7   Pct.drive.fri           100332 non-null  object
 8   Pct.drive.sat           100332 non-null  object
 9   Pct.drive.sun           100332 non-null  object
 10  Pct.drive.2hrs          100332 non-null  object
 11  Pct.drive.3hrs          100332 non-null  object
 12  Pct.drive.4hrs          100332 non-null  object
 13  Pct.drive.wkday         100332 non-null  object
 14  Pct.drive.wkend         100332 non-null  object
 15  Pct.drive.rush am       100332 non-null  object
 16  Pct.drive.rush pm       100332 non-null  object
 17  Avgdays.week            100332 non-null  object
 18  Accel.06miles           100332 non-null  float64
 19  Accel.08miles           100332 non-null  float64
 20  Accel.09miles           100332 non-null  float64
 21  Accel.11miles           100332 non-null  float64
 22  Accel.12miles           100332 non-null  float64
 23  Accel.14miles           100332 non-null  float64
 24  Brake.06miles           100332 non-null  float64
 25  Brake.08miles           100332 non-null  float64
 26  Brake.09miles           100332 non-null  float64
 27  Brake.11miles           100332 non-null  float64
 28  Brake.12miles           100332 non-null  float64
 29  Brake.14miles           100332 non-null  float64
 30  Left.turn.intensity08   100332 non-null  float64
 31  Left.turn.intensity09   100332 non-null  float64
 32  Left.turn.intensity10   100332 non-null  float64
 33  Left.turn.intensity11   100332 non-null  float64
 34  Left.turn.intensity12   100332 non-null  float64
 35  Right.turn.intensity08  100332 non-null  float64
 36  Right.turn.intensity09  100332 non-null  float64
 37  Right.turn.intensity10  100332 non-null  float64
 38  Right.turn.intensity11  100332 non-null  float64
 39  Right.turn.intensity12  100332 non-null  float64
dtypes: float64(22), object(18)
memory usage: 30.6+ MB
None

Conditions to meet for TELEMATICS.csv :  
• Annual.pct.driven is the number of day a policyholder uses vehicle divided by 365, with
values in [0,1.1].  
• Pct.drive.mon, · · · , Pct.drive.sun are compositional variables meaning that the sum
of seven (days of the week) variables is 100%.  
• Pct.drive.wkday and Pct.drive.wkend are clearly compositional variables too.

In [ ]:
# Convert 'Id_pol' in DB_Telematics.csv to int64
telematics_df['Id_pol'] = pd.to_numeric(telematics_df['Id_pol'].str.replace('cnt_', ''), errors='coerce', downcast='integer').astype('int64')

In [ ]:
# List of object-type columns to convert to float64
object_columns_to_convert = [
    'Annual.pct.driven', 'Total.miles.driven', 'Pct.drive.mon', 'Pct.drive.tue',
    'Pct.drive.wed', 'Pct.drive.thr', 'Pct.drive.fri', 'Pct.drive.sat',
    'Pct.drive.sun', 'Pct.drive.2hrs', 'Pct.drive.3hrs', 'Pct.drive.4hrs',
    'Pct.drive.wkday', 'Pct.drive.wkend', 'Pct.drive.rush am', 'Pct.drive.rush pm',
    'Avgdays.week'
]

# Replace commas with dots and convert to float64
telematics_df[object_columns_to_convert] = telematics_df[object_columns_to_convert].replace(',', '.', regex=True).astype('float64')

# Display the updated DataFrame
print(telematics_df.info())